.open {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  transition: opacity 0.2s linear;
  z-index: 10000;
}

.open span {
  display: block;
  float: left;
  clear: both;
  height: 4px;
  width: 40px;
  border-radius: 40px;
  background-color: #fff;
  position: absolute;
  right: 3px;
  top: 3px;
  overflow: hidden;
  transition: all 0.4s ease;
}

.open:not(.oppenned) span {
  animation: alternate "moveVert" 1s infinite linear;
}

@keyframes moveVert {
  0% {
    transform: translateY(0);
    box-shadow: 0 0 10px 0px #fff;
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(10px);
    box-shadow: 0 0 20px 3px #fff;
  }
}

.open span:nth-child(1) {
  margin-top: 10px;
  z-index: 9;
}

.open span:nth-child(2) {
  margin-top: 25px;
}

.open span:nth-child(3) {
  margin-top: 40px;
}

.subMenu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
}

.subMenu li {
  display: block;
  float: right;
  clear: both;
  height: auto;
  margin-right: -160px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.subMenu li:first-child {
  margin-top: 200px;
}

.subMenu li:nth-child(1) {
  -webkit-transition-delay: 0.05s;
}

.subMenu li:nth-child(2) {
  -webkit-transition-delay: 0.1s;
}

.subMenu li:nth-child(3) {
  -webkit-transition-delay: 0.15s;
}

.subMenu li:nth-child(4) {
  -webkit-transition-delay: 0.2s;
}

.subMenu li:nth-child(5) {
  -webkit-transition-delay: 0.25s;
}

.subMenu li a {
  color: #fff;
  font-size: 20px;
  width: 100%;
  display: block;
  float: left;
  line-height: 40px;
  transition: transform 0.2s ease-in-out;
  &:hover {
    text-decoration: none;
    transform: scale(1.2) translateX(-15px);
  }
}

.oppenned .subMenu {
  opacity: 1;
  height: 400px;
  width: 400px;
}

.oppenned span:nth-child(2) {
  overflow: visible;
}

.oppenned span:nth-child(1),
.oppenned span:nth-child(3) {
  z-index: 100;
  transform: rotate(45deg);
}

.oppenned span:nth-child(1) {
  transform: rotate(45deg) translateY(12px) translateX(12px);
}

.oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: rgba(0, 195, 177, 0.4);
}

.oppenned span:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px) translateX(10px);
}

.oppenned li {
  margin-right: 168px;
}
